.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.like-dislike-bar {
  display: flex;
  height: 10px;
  background-color: #ccc;
}

.likes {
  background-color: green;
}

.dislikes {
  background-color: red;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .movie-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .movie-card {
    flex: 1 1 100%;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
}

.pagination select {
  margin-left: 10px;
}
